
/*
# Gallery
--------------------------------*/
 .entry-title{
    line-height: 80px;
  margin-top: 0px;
  margin-bottom: 50px; 
  padding-bottom: 0px;
  
  border-bottom: 1px solid  #150202;
 
  font-size: 22px ;
  font-weight: 700;
  text-transform: uppercase;
  color: #150202;
 }

.gallery-grid:hover img{
    transform: scale(1.5);
   
   }


.{
    margin:0;
    padding: :0;
    box-sizing:border-box;

}
.home-gallery {
    overflow: hidden;
   
        position: relative;
        min-height: 100vh;
       /* background:#ddd;*/
    
    }

.gallery-wrap {
    margin-right: -5px;
    margin-left: -5px;
}

.gallery-grid {
    margin: 5px;
   
    border:10px solid #fff;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
     overflow:hidden;
     cursor:pointer;
}

.gallery-grid img {
    display: block;
    max-width: 100%
   /* object-fit: cover;
    transition: .2s linear;*/
    
    
}

.gallery-grid1x1 {
    width: calc(100% / 8 - 10px);
}

.gallery-grid2x1,
.gallery-grid2x2 {
    width: calc(100% / 4 - 10px);
    margin-bottom: 6px;
}

.gallery-grid2x2 {
    width: calc(100% / 4 - 10px);
    margin-bottom: 7px;
}

@media screen and (max-width: 1200px) {
    .gallery-grid1x1 {
        width: calc(100% / 4 - 10px);
    }

    .gallery-grid2x1,
    .gallery-grid2x2 {
        width: calc(100% / 2 - 10px);
    }

    .gallery-grid2x2 {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 576px) {
    .gallery-grid1x1 {
        width: calc(100% / 2 - 10px);
    }

    .gallery-grid2x1,
    .gallery-grid2x2 {
        width: calc(100% / 1- 10px);
        margin-bottom: 6px;
    }

    .gallery-grid2x2 {
        width: calc(100% / 1 - 10px);
        margin-bottom: 7px;
    }
}
